build
.vscode
results_images
optimal_solution.txt
benchmark_mpc_vh
.png
.npy
.npz
.pt
pyMPC/descriptions
misc
learning_meaningful_metrics
pyMPC/dist
pyMPC/build
pyMPC/pyMPC.egg-info
pyMPC/debug.py
pyMPC/eval_time_to_converge.py
pyMPC/plot_utils.py
